body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #00b0ff; 
}

h1 {
    font-family: Monoton;
    color: red;
    font-size: 70px;
    text-shadow: 2px 2px black;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

.colored {
    background-color: blue;
}

#sizePicker {
    font-size: 1.2em;
}